html, body {
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #f4f2f4;
}

table, tbody, tr, td {
	border: 0;
	border-collapse: collapse;
	-moz-user-select: none;
}

#outer_frame {
	width: 750px;
	position: absolute;
	left: 50%;
	margin-left: -375px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#frame {
	width: 100%;
	margin-bottom: 30px;
	font-size: 14px;
	border: solid 1px black;
	padding : 10px 10px 40px 5px;
	background-color: #ffffff;
}

.loaded {}

.article {
	font-family: "Times New Roman", Times, sans-serif;
	font-size: 14px;
	margin-left: 5px;
	padding-right: 15px;
	text-align: justify;
	border-left: 3px solid #E0E0E0;
    padding-left: 5px;	
}

.article table, .article tbody, .article tr, .article td {
	font-family: "Times New Roman", Times, sans-serif;
	font-size: 14px;
	text-align: justify;
}

.article td {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
}

.article .details_link, .article .summary_link, .article .option_link {
	cursor: pointer;
	color: #3553ef;
	font-size: 12px;
	text-decoration: none;	
}
.article .details_link:hover , .article .summary_link:hover{
	text-decoration: underline;
}

.article a, .article a:hover {
	color: blue;
	text-decoration: none;
}

.article a:hover {
	text-decoration: underline;
}

.article .level {
	display: none;
}

.article .title {
	position: relative;
	font-size: 24px;
	margin-bottom: 5px;
	margin-top: 35px;
}

.article .main {
	font-size: 35px;
	padding: 20px 0px 20px 10px;
	text-align: center;
}

.article .content, .article .summary {
	margin-left: 14px;
}

.article .display_button {
	margin-top: 10px;
	margin-left: 14px;
}

.article .display_button a, .article .display_button a:hover {
	text-decoration: underline;
	font-style: italic;
	color: #3030f0;
}

.article .display_button a:hover {
	text-decoration: none;
}

.refPopup, .refPopup .tLf {
	font-family: arial;
	font-size: 13px;
	height: 100%;
	width: 100%;
	-moz-user-select: none;
}

.refPopup {
	position: absolute;
	z-index: 100;
	display: none;
	height: 28px;
	width: 400px;
}
html>body .refPopup {
	min-height: 28px;
}

.refPopup .Lcl {
	position: absolute;
	top: 4px;
	right: 4px;
	background: url('../interface/images/close.png') no-repeat;
	height: 10px;
	width: 10px;
	cursor: pointer;
	-moz-user-select: none;
}

.refPopup .Lct {
	font-family: "Times New Roman", Times, sans-serif;
	padding: 10px 20px 20px 20px;
}

.refPopup .pNo {
	border: 0;
	background: url('../interface/images/bgnd.png') 0px 0px no-repeat;
	width: 2px;
	height: 2px;
}

.refPopup .pN {
	background: url('../interface/images/bgnd.png') 0px -8px repeat-x;
	height: 2px;
}

.refPopup .pNe{
	background: url('../interface/images/bgnd.png') 0px -2px no-repeat;
	width: 2px;
	height: 2px;
}

.refPopup .pO{
	background: url('../interface/images/lat.png') 0px 0px repeat-y;
	width: 2px;
}

.refPopup .pC{
	border: 0;
	background-color: #D4EAFC;
	width: auto;
}

.refPopup .pE{
	background: url('../interface/images/lat.png') -2px 0px repeat-y;
	width: 2px;
}

.refPopup .pSo {
	background: url('../interface/images/bgnd.png') 0px -4px no-repeat;
	width: 2px;
	height: 2px;
}

.refPopup .pS {
	background: url('../interface/images/bgnd.png') 0px -10px repeat-x;
	height: 2px;
}

.refPopup .pSe {
	background: url('../interface/images/bgnd.png') 0px -6px no-repeat;
	width: 2px;
	height: 2px;
}