html, body {
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #f4f2f4;
	font: 400 1em Arial,Helvetica,sans-serif;
}

table, tbody, tr, td {
	border: 0;
	border-collapse: collapse;
	-moz-user-select: none;
}

#outer_frame {
	width: 750px;
	position: absolute;
	left: 50%;
	margin-left: -375px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#frame {
	width: 100%;
	margin-bottom: 30px;
	font-size: 14px;
	border: solid 1px black;
	padding : 10px 10px 40px 5px;
	background-color: #ffffff;
}

.loaded {}

.article {
	font: 12.6px Arial,Helvetica,sans-serif;
	color: #333333;
	margin-left: 5px;
	padding-right: 15px;
	text-align: justify;
	border-left: 3px solid #E0E0E0;
    padding-left: 5px;	
}

.article .details_link, .article .summary_link, .article .option_link {
	cursor: pointer;
	color: #3553ef;
	font-size: 12px;
	text-decoration: none;	
}
.article .details_link:hover , .article .summary_link:hover{
	text-decoration: underline;
}

.article a, .article a:hover {
	color: blue;
	text-decoration: none;
}

.article a:hover {
	text-decoration: underline;
}

.article .level {
	display: none;
}

.article .title {
	font: 1.9em Georgia,serif;
	position: relative;
	font-size: 24px;
	margin-bottom: 5px;
	margin-top: 35px;
}

.article .main {
	font-size: 35px;
	padding: 20px 0px 20px 10px;
	text-align: center;
}

.article .content, .article .summary {
	margin-left: 14px;
}

.article .display_button {
	margin-top: 10px;
	margin-left: 14px;
}

.article .display_button a, .article .display_button a:hover {
	text-decoration: underline;
	font-style: italic;
	color: #3030f0;
}

.article .display_button a:hover {
	text-decoration: none;
}