html {
	border: 0;
	padding: 0;
	margin: 0;
}
body {
	background: none repeat scroll 0 0 #FFFFFF;
	height: auto;
	margin: 0 auto;
	position: relative;
	top: 0;			
	border: solid 1px #f0f0f0;
	font: 400 1em Arial, Helvetica, sans-serif;
}
#header {
	background: url("img/banner.jpg") no-repeat center transparent;
	height: 129px;
	min-width: 987px;
	position: relative;
}
#header-inner {
	position: absolute;		
	top: 0;
	left: 50%;
	margin: 0;
	padding: 0;			
	margin-left: -500px;
	width: 1000px;
	height: 129px;			
}		
#pic {
	background: url("img/ic.png") no-repeat scroll 0px 0px transparent;
	position: absolute;
	bottom: 0px;
	left: 220px;	
	width: 126px;
	height: 125px;
	z-index: 105;
}
#logo {
	background: url("img/icway.png") no-repeat;
	position: absolute;
	left: 25px;
	top: 13px;
	width: 186px;
	height: 117px;
	z-index: 200;
}
#menu-bg, #menu {
	position: absolute;
	top: 82px;
	width: 966px;
	left: 50%;
	margin-left: -495px;
	height: 30px;
	z-index: 110;
}
#menu-bg {
	z-index: 100;
	opacity: 0.3;-moz-opacity: 0.3;-webkit-opacity: 0.3;-khtml-opacity: 0.3;filter:Alpha(Opacity=30);
}
#menu-bg ul, #menu ul {
	list-style: none outside none;
	padding: 0;
	margin: 0;
	border: 0;
	height: auto;
}
#menu-bg ul li, #menu ul li {
	float: right;		
	margin-left: 5px;
	padding: 5px 10px 0 10px;
	position: relative;
	width: auto;
	height: 25px;
	text-align: center;
	vertical-align: center;
}
#menu-bg ul li {
	-moz-border-radius-topright: 8px; -webkit-border-top-right-radius: 8px; -khtml-border-top-right-radius: 8px; border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px; -webkit-border-top-left-radius: 8px; -khtml-border-top-left-radius: 8px; border-top-left-radius: 8px;
	background-color: #000;			
}		
#menu-bg {
	color: #fff;		
}
#menu-bg a {
	color: #fff;
}
#menu-bg a, #menu a, #menu a:hover {
	color: #fff;
	font-size: 0.812em;
	text-shadow: 1px 1px 2px rgba(0,0,0,1);
	line-height: 15px;
	text-decoration: none;
}	
#menu a:hover {
	color: #8bb9f6; 
}

#header #header-right {
	position: absolute;
	right: 25px;
	top: 0;
	width: 220px;
	height: 129px;			
}
#header #search {
	float: left;
	clear: both;
	margin-top: 5px;
}
#search input {
	font-size: 1em;		
}
#search input.search-query {
	border: medium none;
	border-radius: 6px;
	height: 17px;
	margin: 2px 1px;
	padding-left: 5px;
}
#header input.search-submit {
	background-color: #fff;
	margin-left: 1px;
	vertical-align: -2px;
	width: 17px;
	height: 16px;
	border-radius: 3px;
}		
#languages {
	float: left;
	clear: both;		
}		
#languages a, #languages a:hover {
	display: block;
	text-decoration: none;
	font: 400 0.8em arial, sans-serif;
	text-shadow: 1px 1px 0px rgba(0,0,0,1);
	color: #fff;			
}
#languages a:hover {
	color: #1b59c2;
	text-shadow: 1px 1px 0px #ccdae4;			

}
#languages div {
	float: left;
	width: 25px;
}
#languages label {
	cursor: pointer;	
}	
#loc-bg {
	background: none repeat scroll 0 0 #000;
	box-shadow:0 10px 15px rgba(0,0,0,.9);-moz-box-shadow:0 10px 15px rgba(0,0,0,.9);-webkit-box-shadow:0 10px 15px rgba(0,0,0,.9);
	min-width: 987px;
	position: absolute;
	top: 112px;
	width: 100%;
	height: 17px;
	z-index: 110;
	opacity: 0.3;-moz-opacity: 0.3;-webkit-opacity: 0.3;-khtml-opacity: 0.3;filter:Alpha(Opacity=30);
}
#localizator {
	position: absolute;
	top: 112px;
	height: 17px;
	padding-left : 210px;
	z-index: 115;
	font: 400 0.8em Arial,sans-serif;			
}
#localizator ul {
	list-style: none outside none;
	padding: 0;
	margin: 0;
	border: 0;
}
#localizator ul li {
	float: left;
	background: url("img/nav_arrow.png") no-repeat 0px 5px transparent;			
	padding-left: 11px;
	margin-right: 4px;
	white-space: nowrap;
}		
#localizator a,  #localizator a:hover{
	color: #ffffff;
	text-shadow: 1px 1px 1px #000;
	text-decoration: none;
}
#localizator a:hover{ 
	color: #8bb9f6;
}
#page {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFF;
	color: #333333;
	font: 0.875em/1.375em Arial,Helvetica,sans-serif;
	margin: 0 auto;
	padding: 0;
	position: relative;
	text-align: left;
	width: 987px;		
}
#main-column {
	border-right: 246px solid #EFEBE3;
	clear: both;
	float: left;
	margin-right: -246px;
	padding: 0 21px 30px;
	position: relative;
	top: 0;
	width: 678px;		
}
#sidebar {
	background: none repeat scroll 0 0 #EFEBE3;
	float: left;
	left: 0;
	padding: 30px 17px 30px;
	position: relative;
	text-align: left;
	top: 0;
	width: 212px;		
}
#sidebar div {
	box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.5);
	border: solid 1px #f3f1ec;
	background-color: #f9f9f9;
	padding: 12px;
	margin-bottom: 20px;
	border-radius: 6px;
}
#sidebar span {
	display: block;
	margin-bottom: 14px;
	color: #1b59c2;
	font: 400 0.88em arial, sans-serif;
}
#sidebar a, #sidebar a:hover {
	display: block;
	font: 400 0.85em arial, sans-serif;
	font-style: italic;		
	color: #4c8efc;
	text-decoration: none;
}
#sidebar a:hover {
	text-decoration: underline;
}
#sidebar a.tip, #sidebar a.tip:hover {
	display: inline;
	font: 400 0.88em arial, sans-serif;
	font-style: normal;		
	color: #4c8efc;
	text-decoration: none;
}
#sidebar a.tip:hover {
	text-decoration: underline;
}
#left-column:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
#left-column {
	clear: right;
	float: left;
	height: auto !important;
	margin-right: 48px;
	min-height: 1px;
	padding: 9px 0 20px;
	position: relative;
	width: 150px;
}
#left-column h1 {
	color: #1b59c2;		
	font-size: 1.1em;
}
#left-column ul {
	list-style-type: none;
	margin-top: 6px;
	padding: 0;
}		
#left-column ul li {
	border-top: 1px solid #DEDEDE;
	font-size: 0.9em;
	line-height: 140%;
	padding: 7px 0 5px 10px;
}		
#left-column ul li.current {
	background: none repeat scroll 0 0 #EFEBE3;
}
#left-column a, #left-column a:hover {
	color: #1b59c2;
	text-decoration: none;
}
#left-column a:hover {
	color: #4c8efc;
}
#article-content {
	float: left;
	font-size: 0.9em;
	padding: 0px 0 10px;
	position: relative;
	top: 0;
	width: 480px;
	text-align: justify;
}		
#article-content h1 {
	font: 1.9em Georgia,serif;
	padding: 0 0 2px;
	margin: 0;
	margin-top: 16px;
}
#article-content h2 {
	width: auto;
	text-align: right;
	font-style: italic;
	font-size: 1.2em;
	font-weight: 400;
	color: #646264;
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
}
#article-content h3 {
	font-size: 1.1em;
	padding: 13px 0 0px;
}
#bottom {
	box-shadow: 0 0 20px rgba(0,0,0,.9);-moz-box-shadow:0 0 20px rgba(0,0,0,.9);-webkit-box-shadow:0 0 20px rgba(0,0,0,.9);			
	clear: both;
	margin: 0;
	padding: 0;
	min-width: 987px;
	height: 350px;	
	position: relative;			
	background: url("img/bottom.jpg") no-repeat center transparent;			
}
#bottom-bg, #bottom-inner {
	position: absolute;
	width: 100%;			
	height: 100%;		
	z-index: 110;			
}
#bottom-bg {
	background-color: #EFEBE3;
	z-index: 100;
	opacity: 0.5;-moz-opacity: 0.5;-webkit-opacity: 0.5;-khtml-opacity: 0.5;filter:Alpha(Opacity=50);			
}	
#bottom-inner {
	position: absolute;		
	left: 50%;
	margin: 0;
	padding: 0;			
	margin-left: -500px;
	padding-top: 20px;
	width: 1000px;			
}
#bottom-inner .box{
	float: left;
	background-color: #fff;
	padding: 5px 20px;
	width: 260px;
	margin-right: 10px;
	margin-left: 20px;
	-moz-border-radius-: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px;
	min-height: 235px;
	max-height: 300px;	
	overflow : hidden;
}
#bottom-inner h1 {
	color: #1B59C2;
	font: 600 1.2em "molengo","ff-nuvo-web-pro",anivers,Arial;
	border-bottom: solid 1px #000;
	padding-bottom: 10px;
	text-shadow: 1px 1px 1px rgba(0,0,0,1);			
}		
#bottom-inner ul {
	list-style: none outside none;
	color: #000;
	padding: 0;
}
#bottom-inner ul li a {
	font-size: 0.8em;
	color: #1B59C2;
	text-decoration: none;
}
#bottom-inner ul li a:hover{
	color: #000;
}
#bottom-inner ul li span {
	color: #808080;
	font-size: 0.7em;
}		
#bottom-inner ul li span.social-likes__button {
	font-size: 0.9em;
}
#footer {
	padding-top: 8px;
	color: #1b59c2; 
	text-align: center;
	font-size: 0.8em;
	line-height: 2em;
	height: 60px;
	clear: both;
}
#footer a, #footer a:hover {
	color: #1b59c2;
	text-decoration: none;
}
#footer a:hover {
	color: #4c8efc;
	text-decoration: underline;
}
p.comments {
	font-size:14px;
	border-bottom:#ccc 1px dotted;
	color:#999;
	margin-top: 40px;
	margin-left:5px;
	padding-left:20px;
	background:url(img/icon_comments.gif) no-repeat left center;
	clear:both;
}
p.comments a {
	border-bottom:0px;
	color: #1b59c2;
}
.commentlist{
    margin: 0;
    padding: 0;
}
.commentlist li {
    background-color: #FFFFFF;
    font-size: 1em;
    list-style: none outside none;
    margin: 0;
    padding: 1em;
	line-height: 130%;
}
.commentlist li p{
	padding-bottom: 20px;
	border-bottom: 1px dotted #EEEEEE;	
}
.commentlist input {
    border: 3px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    color: #777777;
    font-size: 13px;
    height: 32px;
    padding: 0 5px;
    vertical-align: middle;
    width: 180px;
}
.commentlist textarea {
    border: 3px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    color: #777777;	
    height: 15em;
    padding: 5px;
    width: 95%;
}