.file_cabinet {
	width: 740px;
}
.file_cabinet .header {
	width: auto;
	height: 25px;
	font: 700 12px "trebuchet ms";
	line-height: 25px;	
	color: #444444;
	padding-left: 10px;
	background: none repeat scroll 0 0 #CCCCCC;	
}
.file_cabinet .row {
	display: table;
	font: 400 0.85em "trebuchet ms";
	color: #444444;	
	width: 100%;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid 1px #efefef;
}
.file_cabinet .row .name,  .file_cabinet .row .desc, .file_cabinet .row .type, .file_cabinet .row .size, .file_cabinet .row .author, .file_cabinet .row .pages, .file_cabinet .row .modif{
	text-align: left;
	display: table-cell;
	padding: 0 10px;
}

.file_cabinet .row .name {
	width: 25%;
}
.file_cabinet .row .desc {
	text-align: justify;
	width: 35%;
}
.file_cabinet .row .type {	
	text-align: center;
	width: 9%;
}
.file_cabinet .row .size {
	width: 8%;
}
.file_cabinet .row .pages {
	width: 8%;
}
.file_cabinet .row .modif {
	width: 0%;
}
.file_cabinet .row .author{
	width: 15%;
}