body {
	background: #f4f2f4;
	color: #000000;
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 75%;	
}

body, form, div, table, tr, td {
	margin: 0;
	padding: 0;
	border: 0;
}
table, tr {
	width: 100%;
}
table {
	table-layout: fixed;
}
/**
* UI elements
*/
div#loading {
	position: absolute;
	top: 40%;
	left: 50%;
    height: 30px;	
    width: 200px;
    margin-left: -100px;
    margin-top: -15px;
}
.loading {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -10px;
	font-style: italic;
	width: 80px;
	height: 16px;
	text-align: right;
	background: url("images/load.gif") no-repeat transparent;			
}
label {
	text-align: left;
	font-weight: bold;
	color: #505050;
	margin-top: 4px;	
}
td.label {
	padding-top: 5px;
	padding-right: 5px;	
    text-align: left;
	width: 5%;
	line-height: 20px;
	vertical-align: top;
}
td.field {
	padding-top: 5px;
	width: 95%;
	vertical-align: top;
	text-align: left;
}
fieldset {
	border-radius: 5px; -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px;
	padding-left: 1%;
	padding-right: 1%;	
	padding-bottom: 1em;
	margin-top: 1%;
	width: auto;
}
legend {
	color: #0000EE;
	padding: 0;
	padding-right: 2px;
	padding-left: 2px;	
	padding-bottom /*\**/: 6px\0px; /* IE8 Fix */
}
var {
	width: auto;
}
button {
	margin-top: 4px;
}
.field textarea {
	height: 180px;
}
.field textarea, .field select {
	width: 99%;
}
.field input {
	min-width: 10px;
    max-width: 99%;
	width: 99%;	
	margin: 0px;
	padding: 0px;	
}	
.selected {
	font-weight: bold;
}
.invalid {
	background-color: #FFC8C8 !important;	
}
.required {
	background-color: #C8C8FF;
}
.tooltip {
	position: absolute;
	z-index: 2000;
	opacity: .85; filter:Alpha(Opacity=85);
	border: 1px solid black;
	-moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	padding : 4px;
	background-color: #201070;
	color: white;
	font-style: italic;
	text-decoration: none;
}
sup.help {
	color: blue;
	cursor: pointer;
}
.choice_input {
	vertical-align: top;
}